:root {
  --bg: #f2f0e4;
  --neutral: #e1d1b7;

  --green: #394422;
  --orange: #d17b5a;
  --red: #814745;
  --yellow: #ae8859;

  --accent: var(--neutral);

  color-scheme: dark;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--bg);
}

main {
  --fill: 0.618;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  aspect-ratio: 5 / 3;
  width: min(100vw * var(--fill), 100vh * var(--fill) * 5 / 3);
}

svg {
  margin: auto;

  width: 90%;
  height: auto;
  overflow: hidden;

  background: var(--accent);
}

path {
  stroke: none;
}

.bg {
  background: var(--bg);
  fill: var(--bg);
}

.accent {
  background: var(--accent);
  fill: var(--accent);
}

.blue {
  background: var(--green);
  fill: var(--green);
}

.red {
  background: var(--orange);
  fill: var(--orange);
}

.pink {
  background: var(--red);
  fill: var(--red);
}

.yellow {
  background: var(--yellow);
  fill: var(--yellow);
}

@media screen and (orientation: portrait) {
  main {
    grid-template-columns: repeat(3, 1fr);
    aspect-ratio: 3 / 5;
    width: min(100vw * var(--fill), 100vh * var(--fill) * 3 / 5);
  }
}

/* REMOVED FOR NOW, DARK LOOKS SO MUCH BETTER
@media (prefers-color-scheme: light) {
  :root {
    --bg: var(--neutral);
    --accent: var(--bg);
  }
}
*/
